/* Default properties of Frontend Mentor */
.attribution {
	font-size: calc(6px + 0.5vw);
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
/* Default properties of Frontend Mentor */

/* Reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul, ol {
	list-style: none;
}

button {
	cursor: pointer;
}
/* Reset */

/* General configuration */
body {
	font-family: "Josefin Sans", sans-serif;
}
/* General configuration */

.wrapper {
	display: flex;
}

.info-side {
	flex: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url("./images/bg-pattern-desktop.svg"),
				linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
	background-size: cover;
	background-repeat: round;
}

.info-wrapper {
	width: 70%;
	padding: 5% 20% 15% 0;
}

.info-wrapper > img {
	width: 10vmax;
}

h1 {
	margin-top: 20%;
	margin-bottom: 5%;
}

span {
	font-size: calc(60px + 0.5vw);
	text-transform: uppercase;
	letter-spacing: 15px;
}

.title {
	color: hsl(0, 36%, 70%);
	font-weight: 300;
}

.subtitle {
	color: hsl(0, 6%, 24%);
}

.info-wrapper p {
	color: hsl(0, 36%, 70%);
	font-size: calc(10px + 0.5vw);
	margin-bottom: 10%;
}

form {
	border: 1px solid hsl(0, 0%, 83%);
	border-radius: 30px;
	display: flex;
	width: 100%;
}

input {
	flex: 5;
	border: none;
	border-radius: 30px;
	background-color: transparent;
	font-size: calc(6px + 0.5vw);
	padding-left: 5%;
	margin-right: 1%;
}

.input-error {
	background-image: url("./images/icon-error.svg");
	background-repeat: no-repeat;
	background-position-x: 99%;
	background-position-y: center;
}

input::placeholder {
	color: hsl(0, 36%, 70%);
}

button {
	flex: 1;
	border: none;
	border-radius: 30px;
	padding: 2% 1%;
	background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
	background: hsl(0, 93%, 68%);
}

.img-side {
	flex: 1;
}

.img-side img {
	width: 100%;
	height: 100%;
}